.body-header {
    color: white;
    font-size: 2.75em;
    width: 35%;
    padding: 0 1.5rem;
}

.inputs-select-container{
    width: 90%;
    margin: 0 auto;
    #firstName ,#lastName, #age {
        width: 95%;
        display: block;
        border: 1px solid white;
        opacity: 0.7;
        filter: alpha(opacity=60);
        border-radius: 2px;
        color: #3684df;
        padding: 7px;
        font-size: 20px;
        margin-left: auto;
        margin-right: auto;
        margin-top: 20px;
        margin-bottom: 20px;        
        transition: all 300ms ease-in-out;
        &:focus {
            outline: none;
            border:1px solid #fff !important;
            box-shadow: 0px 0px 8px 0px white;
        }
        &::placeholder {
            color: #3684df;
        }
    }
}

.add-shuffle-container, .button-container {
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    #add, #shuffle{
        width: 45%;
    }
}


#clear {
    width: 95%;
    margin-left: auto;
    margin-right: auto;    
} 

 #add, #shuffle, #clear {
    background: linear-gradient(180deg,#3684df,#004fb3);
    color: white;
    border: none;
    padding: 7px;
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 2px;
    display: block;
    &:focus {
        outline: none;
        border: .5px solid #fff !important;
        box-shadow: 0px 0px 8px 0px white;
    }
    &:hover {
        cursor: pointer;
    }       
}

#age {
    height: 41px;
}
 
@media (min-width: 375px) {
    .body-header {
        font-size: 2.75em;
    }
    #add, #shuffle, #clear {
        font-size: 20px;        
    }
}


